<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732540564856-1k3dq7jhvipr1h9ggbtbu3clapo2udg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732540564856-1k3dq7jhvipr1h9ggbtbu3clapo2udg6</string>
	<key>API_KEY</key>
	<string>AIzaSyCBDc8A8DPfzn1OeRJIB1YnO6Z6s3jNBXk</string>
	<key>GCM_SENDER_ID</key>
	<string>732540564856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..FirebaseCrashlytics</string>
	<key>PROJECT_ID</key>
	<string>fir-crashlytics-9f3a6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashlytics-9f3a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732540564856:ios:77afa00f88f3828f89848d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crashlytics-9f3a6.firebaseio.com</string>
</dict>
</plist>